# The predictions of nostradamus. This is a test dataset, I got it from project gutenburg because it was easy to get
pg68907.txt
prince.txt

# All log files
markov_bot_*_log.txt

# Discord bot config
config.json
output.json
db.json
*.json
